# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Dataset (jangan push data mentah ke GitHub, besar banget)
raw_data/
*.zip
*.tar.gz

# Output preprocessing (kalau mau, bisa di-push sebagai artifact)
# garbage_preprocessing/
